<div class="widgets">
  <div class="row">
    <div class="col-md-2">
      <div ba-panel ba-panel-title="Filters" ba-panel-class="with-scroll notification-panel">
        <div data-filters ng-repeat="filter in filters">
          <label><strong>{{filter.category}}</strong></label>
          <div class="control" ng-repeat="subcategory in filter.subcategories">
            <label class="checkbox-inline custom-checkbox nowrap">
              <input type="checkbox">
              <span>{{subcategory}}</span>
            </label>
          </div>
          <hr ng-if="!$last">       
        </div>
      </div>
    </div>
    <div class="col-md-10">
      <div ba-panel ba-panel-title="Candidate List" ba-panel-class="with-scroll">
        <div include-with-scope="app/pages/tables/widgets/smartTable.html"></div>
      </div>
    </div>
  </div>
</div>