<div ba-panel ba-panel-class="profile-page">
  <div class="panel-content">

    <h3 class="with-line">General Information</h3> 

    <div class="row">
      <div class="col-md-6">
        <div class="form-group row clearfix">
          <label for="inputFirstName" class="col-sm-3 control-label">Picture</label>

          <div class="col-sm-9">
            <div class="userpic">
              <div class="userpic-wrapper">
                <img ng-src="{{ picture }}" ng-click="uploadPicture()">
              </div>
              <i class="ion-ios-close-outline" ng-click="removePicture()" ng-if="!noPicture"></i>
              <a href class="change-userpic" ng-click="uploadPicture()">Change Profile Picture</a>
              <input type="file" ng-show="false" id="uploadFile" ng-file-select="onFileSelect($files)">
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6"></div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group row clearfix">
          <label for="inputFirstName" class="col-sm-3 control-label">First Name</label>

          <div class="col-sm-9">
            <input type="text" class="form-control" id="inputFirstName" placeholder="" value="{{person.firstName}}">
          </div>
        </div>
        <div class="form-group row clearfix">
          <label for="inputLastName" class="col-sm-3 control-label">Last Name</label>

          <div class="col-sm-9">
            <input type="text" class="form-control" id="inputLastName" placeholder="" value="{{person.lastName}}">
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group row clearfix">
          <label class="col-sm-3 control-label">Area of Expertise</label>

          <div class="col-sm-9">
            <select class="form-control" selectpicker>
              <option>Web Development</option>
              <option>System Development</option>
              <option>Sales</option>
              <option>Human Resources</option>
            </select>
          </div>
        </div>

        <div class="form-group row clearfix">
          <label for="inputOccupation" class="col-sm-3 control-label">Occupation</label>

          <div class="col-sm-9">
            <input type="text" class="form-control" id="inputOccupation" placeholder="" value="Front End Web Developer">
          </div>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="col-md-6">
        <div class="form-group row clearfix">
          <label for="inputFirstName" class="col-sm-3 control-label">Age</label>

          <div class="col-sm-9">
            <input type="text" class="form-control" placeholder="" value="{{person.age}}">
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group row clearfix">
          <label class="col-sm-3 control-label">Gender</label>

          <div class="col-sm-9">
          	<input type="text" class="form-control" placeholder="" value="{{person.gender}}">
          </div>
        </div>
      </div>

    <h3 class="with-line">Contact Information</h3>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group row clearfix">
          <label for="inputEmail3" class="col-sm-3 control-label">Email</label>

          <div class="col-sm-9">
            <input type="email" class="form-control" id="inputEmail3" placeholder="" value="{{person.email}}">
          </div>
        </div>
        <div class="form-group row clearfix">
          <label for="inputPhone" class="col-sm-3 control-label">Phone</label>

          <div class="col-sm-9">
            <input type="text" class="form-control" id="inputPhone" placeholder="" value="+58 (424) 456 7890">
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group row clearfix">
          <label class="col-sm-3 control-label">Office Location</label>

          <div class="col-sm-9">
            <select class="form-control" title="Standard Select" selectpicker>
              <option>Venezuela</option>
              <option>Argentina</option>
              <option>Uruguay</option>
              <option>Colombia</option>
            </select>
          </div>
        </div>
        <div class="form-group row clearfix">
          <label class="col-sm-3 control-label">Skype</label>

          <div class="col-sm-9">
            <input type="text" class="form-control" placeholder="" value="{{person.skypeId}}">
          </div>
        </div>
      </div>
    </div>
    
    <h3 class="with-line">Skills</h3>
        
    <div ng-repeat="item in person.skills" class="row">
      <div class="col-md-4">
        <div class="form-group row clearfix">
          <label class="col-sm-3 control-label">Skill {{item.id}}</label>

          <div class="col-sm-9">
            <input class="form-control" placeholder="" value="{{item.name}}">
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group row clearfix">
          <label class="col-sm-3 control-label">Experience</label>

          <div class="col-sm-9">
            <div class="col-sm-10">
            <input class="form-control" placeholder="" value="{{item.experience}}">
          </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group row clearfix">
          <label class="col-sm-3 control-label">Level</label>

          <div class="col-sm-9">
            <div class="col-sm-9">
            <input class="form-control" placeholder="" value="{{item.level}}">
          </div>
          </div>
        </div>
      </div>
      <div class="col-md-1">
      	<button class="btn btn-danger editable-table-button btn-xs" ng-click="removeSkill($index)">Delete</button>
      </div>
    </div>

	 <div class="row">
      <div class="col-md-4">
        <div class="form-group row clearfix">
          <label class="col-sm-3 control-label">Skill {{person.skills.length + 1}}</label>

          <div class="col-sm-9">
            <input class="form-control" placeholder="" ng-model="skill.name">
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group row clearfix">
          <label class="col-sm-3 control-label">Experience</label>

          <div class="col-sm-9">
            <div class="col-sm-10">
            <input class="form-control" placeholder="" ng-model="skill.experience">
          </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group row clearfix">
          <label class="col-sm-3 control-label">Level</label>

          <div class="col-sm-9">
            <div class="col-sm-9">
            <input class="form-control" placeholder="" ng-model="skill.level">
          </div>
          </div>
        </div>
      </div>
      <div class="col-md-1">
      	<button class="btn btn-primary editable-table-button btn-xs" ng-click="addSkill()">Add Skill</button>
      </div>
    </div>
	
	
    <button type="button" class="btn btn-primary btn-with-icon save-profile">
      <i class="ion-android-checkmark-circle"></i>Update Profile
    </button>
  </div>
</div>
