<div class="horizontal-scroll">
  <div class="form-group select-page-size-wrap ">
    <label>Rows on page
      <select class="form-control selectpicker show-tick" title="Rows on page" selectpicker
              ng-model="smartTablePageSize" ng-options="i for i in [5,10,15,20,25]">
      </select>
    </label>
  </div>
  <table class="table" st-table="smartTableData">
    <thead>
    <tr class="sortable ">

      <th st-sort="firstName" st-sort-default="true">Full Name</th>
      <th st-sort="lastName">Area Of Expertise</th>
      <th st-sort="username">Skype User</th>
      <th st-sort="email">Seniority</th>
      <th st-sort="age">Age</th>
    </tr>
    <tr>

      <th><input st-search="firstName" placeholder="Search First Name" class="input-sm form-control search-input"
                 type="search"/></th>
      <th><input st-search="lastName" placeholder="Search Last Name" class="input-sm form-control search-input"
                 type="search"/></th>
      <th><input st-search="username" placeholder="Search Username" class="input-sm form-control search-input"
                 type="search"/></th>
      <th><input st-search="email" placeholder="Search Seniority" class="input-sm form-control search-input" type="search"/>
      </th>
      <th><input st-search="age" placeholder="Search Age" class="input-sm form-control search-input" type="search"/>
      </th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="item in smartTableData">
      <td><a style="float:left" href="#/profile">{{item.fullName}}</a></td>
      <td><a href="#/profile">{{item.expertise}}</a></td>
      <td><a href="#/profile">{{item.skype}}</a></td>
      <td><a class="email-link" ng-href="mailto:{{item.email}}"><a href="#/profile">{{item.seniority}}</a></td>
      <td><a href="#/profile">{{item.age}}</a></td>
    </tr>
    </tbody>
    <tfoot>
    <tr>
      <td colspan="6" class="text-center">
        <div st-pagination="" st-items-by-page="smartTablePageSize" st-displayed-pages="5"></div>
      </td>
    </tr>
    </tfoot>
  </table>
</div>